*{
  padding: 0;
  margin: 0;

}
.navbar-brand{
  font-size: 3rem;
  color: rgb(255, 255, 255);
  font-family: 'Lobster', cursive;
  font-weight: 700;

}
.navbar-brand:hover{
  color: rgb(254, 0, 51);
}
.nav-link{
  margin-right: 10px;
  margin-left: 10px;
  color:rgb(255, 255, 255) ;
  text-transform:uppercase ;
  font-family: 'Rubik', sans-serif;


}
.nav-link:hover{
color: rgb(183, 183, 183);
}
.search{
  height:40px ;
  width:80% ;
  border-radius: 60px;
  outline:none;
  margin-right: -35px;

  border:2px solid rgb(126, 53, 72);
}
.btn0 {
  height: 40px;
  width: 30%;
  outline: none;
  border: none;
  background-color:rgb(253, 1, 72) ;
  font-weight: 700;
  color: white;
  border-radius: 60px;

}
.main{
  background: url(ecormmerce-images/pexels-pixabay-326278\ \(1\).jpg)no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 50% 50%;
  width: 100%;
}
.main h1{
  font-size:4rem;
  font-weight: 700;

}
.btn1{
  height:45px ;
  width: 35%;
  border: none;
  outline: none;
  background-color:rgb(88, 122, 152); ;
  color: white;
  font-weight: 700;
  border-radius: 60px;
  
}

.btn1:hover{
  background-color:rgb(193, 32, 78);
  transition: 0.25s;
}
h1{
  font-weight: 600;
  

}
.card:hover{
  -webkit-box-shadow: 0px 1px 81px -14px rgba(48,48,48,1);
-moz-box-shadow: 0px 1px 81px -14px rgba(48,48,48,1);
box-shadow: 0px 1px 81px -14px rgba(48,48,48,1);
transition: 1s;

} 

h5{
  color: rgb(203, 203, 203);
}
p{
  color: rgb(88, 122, 152);
}

.news{
  background-color: black;
  color: white;
}
.btn2{
  height: 30px;
  width: 62px;
  background: rgb(190, 190, 190);
  border: 2px solid rgb(135, 135, 135);
  margin-left: -10px;
  border: 1px solid  rgb(88, 122, 152);
  font-weight:600 ;
  border-radius: 10px;
}
.btn2:hover{
  background:  rgb(88, 122, 152);
}
.news-input{
  height: 45px;
  width: 55%;
  border: 8px solid white;
  outline: none ;
  background: black;
  color: white;
  margin-top: 20px;
  font-weight: 600;
}
.news::placeholder{
  margin: 0;
}
.news p{
  margin: 0;
}
.fa:hover{
  font-size:1rem;
  cursor: pointer;
  padding-right: 5px;
  color:  rgb(88, 122, 152);
 
}
.fa{
  font-size:23px;
   margin-right:20px;
   color: white;
}